nav{
  text-align: center;
}
nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}
ul {
  display: inline-block;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

table{
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 20px;
  text-decoration: none;
  color: black;
}
table a{
  color:black;
}
table a:visited{
    color:black;
    }
.info{
  align-content: center;
  margin-left: 55%;
}
body{
  background-color: #f2f2f2;
}
